/** Components **/
h2,
h3 {
  font-family: 'Open Sans', sans-serif !important;
  color: #5E5C4F;
}
h4,
h5 {
  font-family: 'Open Sans', sans-serif !important;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-bold {
  font-weight: bold;
}
.text-xs {
  font-size: 12px;
}
.text-sm {
  font-size: 14px;
}
.text-md {
  font-size: 16px;
}
.text-italic {
  font-style: italic;
}
.mt-sm {
  marign-top: 15px;
}
.mt-md {
  margin-top: 20px;
}
.mt-lg {
  margin-top: 30px;
}
.ml-sm {
  marign-left: 15px;
}
.ml-md {
  margin-left: 20px;
}
.ml-lg {
  margin-left: 30px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/** Main CSS **/
html body {
  background-color: #E9E9E9 !important;
  margin: 0;
}
.nav-bar {
  width: 100%;
  top: 0;
  background: #2D0F3A url("/assets/images/1.jpg") repeat top left;
}
.nav-bar ul {
  z-index: 50;
  position: relative;
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 12px;
  line-height: 32px;
  padding: 0 15px;
}
.nav-bar ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 10px;
  position: relative;
  float: left;
  margin: 0;
}
.nav-bar ul li a {
  font-size: 20px;
  color: #d2cbed;
}
.nav-bar ul li a:hover {
  cursor: pointer;
  color: #D9D7DD;
  text-decoration: none;
}
.nav-bar ul li.right {
  float: right;
}
.nav-bar ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #D9D7DD;
  padding: 0;
  width: 200px;
}
.nav-bar ul li ul li {
  display: block;
  float: none;
}
.nav-bar ul li ul li a {
  font-size: 14px;
  color: #2D0F3A;
  padding: 10px 0;
}
.nav-bar ul li ul li:hover {
  background: #2D0F3A url("/assets/images/1.jpg") repeat right;
}
.nav-bar ul li ul li:hover a {
  color: #d2cbed;
}
.nav-bar ul li:hover > ul {
  display: block;
}
.nav-bar ul.drop li.right:last-child {
  float: right;
}
.nav-bar input {
  border: 1px solid #C2C2C2;
  border-radius: 3px;
  outline: none;
}
.about {
  text-align: center;
  padding-top: 15px;
}
.about p {
  padding-top: 15px;
  font-size: 16px;
}
.about h1 {
  font-family: "Emilys Candy";
  color: #2D0F3A;
}
.about h4 {
  padding-top: 15px;
}
.card {
  height: 400px;
  background: #ffffff;
  text-align: center;
  margin-bottom: 51px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.card img {
  width: 100px;
  border-radius: 50%;
}
.card h3,
.card h4,
.card h5 {
  padding-top: 15px;
}
.card p {
  padding-top: 15px;
  width: 80%;
  margin: 0 auto;
}
.card .icons {
  margin-top: 10px;
}
.card .icons a {
  padding: 10px;
  color: #2D0F3A;
}
.card .icons a:hover {
  cursor: pointer;
  color: #d2cbed;
}
.slider {
  width: auto;
}
.slider .arrows i {
  padding: 10px;
  color: #2D0F3A;
}
.slider .arrows i:hover {
  cursor: pointer;
  color: #d2cbed;
}
.featured {
  margin-top: -75px;
}
.item {
  vertical-align: top;
  display: inline-block;
  width: 22%;
  background: #ffffff;
  text-align: center;
  margin: 25px 10px;
  padding: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.item img {
  padding-top: 15px;
  width: 150px;
}
a.view {
  color: #2D0F3A;
}
a.view:hover {
  cursor: pointer;
  color: #d2cbed;
}
.sort {
  padding: 10px 0;
}
.sort label {
  margin-right: 5px;
}
h1.magic {
  color: #2D0F3A;
  font-family: "Emilys Candy" !important;
}
.btn {
  width: auto;
  padding: 2px 2px;
  background-color: #2D0F3A;
  color: #d2cbed;
}
.btn:hover {
  color: #ffffff !important;
}
.footer {
  width: 100%;
  height: 50px;
  bottom: 0;
  position: fixed;
  margin: 0 auto;
  background: #2D0F3A url("/assets/images/1.jpg") repeat top left;
}
/**  Variables **/
