/**  Variables **/
@primary: #2D0F3A;
@secondary: #d2cbed;
@tertiary: #E6FDFF;

@light-grey: #D9D7DD;
@sec-white: #DBF9F4;

@linen: #E9E9E9;

@white: #FFF;
@black: #000;
@grey: #36362C;

@cabin: "Cabin";
@cabin-con: "Cabin Condensed";
@franc: "Francois One";
@news: "News Cycle";
@quest: "Questrial";
@jo: "Josefin Sans";
@karla: "Karla";
@open: "Open Sans Condensed";
@tav: "Taviraj";
