script(data-template='item', type='text/ractive').
  <div class="row">
    {{#each result}}
      <div class="col-md-3 col-sm-6">
       	<div class="item">
          <img src="{{MainImage.url_170x135}}">
          <h4> {{title}} </h4>
          <h5> Price: £{{price}} </h5>
          <div class="item-content">
            <a class="view" on-click="viewToggle">View {{#if viewDetails}} Less {{else}} More {{/if}}</a>
            {{#if viewDetails}}
            	<p> {{description}}</p>
            {{/if}}
          </div>
          <a class="btn mt-sm" href="#"> Add to cart </a>
        </div>
      </div>
    {{/each}}
  </div>
