include partials/itemPartial

script(data-template='search', type='text/ractive').
  <div class="row">
    {{#if items.results}}
      {{#each items.results:index}}
        {{> itemPartial}}
      {{/each}}
    {{else}}
      <p> Sorry, no results matched your search. <a class="view" on-click="viewAll">View all items?</a></p>
    {{/if}}
  </div>
