
extends extends/layout

block content
  div.content
    div.container
      .row
        .col-sm-9
          .about
            h1 Welcome to Magic Mixes
            p Here's some information about this site. Take a look and read some more. Here's some information about this site. Take a look and read some more.
            p
        .col-sm-3
          div.card
            h3 About the Artist
            img(src="/assets/images/profile.gif")
            p Read about the artist here! Take a look and read some more. Read about the artist here! Take a look and read some more.
