doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    block title
      title Magic Mixes
    script(src='http://cdn.ractivejs.org/latest/ractive.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="/assets/scripts/scripts.js")
    link(rel='stylesheet', href='/assets/stylesheets/main.css')
    link(rel='stylesheet', href='/assets/stylesheets/bootstrap.css')
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href="https://fonts.googleapis.com/css?family=Cabin|Open+Sans|Francois+One|Poppins|Josefin+Sans|Open+Sans+Condensed:300|Taviraj|Emilys+Candy", rel="stylesheet")

  body
    div(data-outlet="dropdown")

    block content
  
    block footer
      footer
