script(data-template='menu', type='text/ractive').
  <div class="nav-bar">
    <ul class="drop container">
      <li><a href="/index.html"> Home </a></li>
      <li><a href="#"> Products </a>
        <ul>
          {{#each categories}}
            <li><a href="/products.html"> {{title}} </a></li>
          {{/each}}
        </ul>
      </li>
      <li class="right"><a href="/search.html"><i class="ml-lg fa fa-search"></i></a></li>
    </ul>
  </div>
